{% extends "generic/pages/base.html" %}

{# {% block import %}
    {{ super() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
    
    <link rel="stylesheet" href="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css" />  

{% endblock %} #}

{% block content %}
    {# <div id="map" class="mt-5" style="width: 1500px; height: 500px;"></div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <script src="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.min.js"></script>  
    <script src="{{ url_for('static', filename='map.js') }}"></script> #}

    {% block header %}
        {% with args={"title": "Administración de zonas inundables", "name": "Administración de zonas inundables", "subtitle": "Administración, adición y eliminación de las zonas inundables del sitio"} %}
            {% include "generic/elements/headers/header.html" %}
        {% endwith %}
    {% endblock %}

    {% block pre_list %}
        <div class="row">
            {% with args={"text": "+ Crear zona inundable", "url": url_for('fzone_new')} %}
                {% include "generic/elements/buttons/button1.html" %}
            {% endwith %}
    
            {% with args={"text": "Filtrar", "data_bs_toggle": "modal", "data_bs_target": "#fzone-filter"} %}
                {% include "generic/elements/buttons/modal_button1.html" %}
            {% endwith %}

            {% if temp_interface.filt.has_filter() %}
                {% with args={"text": "Limpiar filtro", "url": url_for('fzone_index')} %}
                    {% include "generic/elements/buttons/button1.html" %}
                {% endwith %}
            {% endif %}
        </div>
    {% endblock %}

    {% block list %}
        {% with args={"items": temp_interface.page.items, "headers": ["Código de zona", "Nombre de zona", "Público", "Acciones"], "attr_names": ["code", "name", "state"]} %}
            {% include "flood_zone/elements/list/list.html" %}
        {% endwith %}

        {% with args={"page": temp_interface.page, "url": "fzone_index"} %}
            {% include "generic/elements/pagination_row.html" %}
        {% endwith %}
    {% endblock %}


    {# {% block filter %}
        {% with args={"form": temp_interface.filt.form, "id": "fzone-filter", "aria_labelledby": "fzone-filter-label", "url": url_for('fzone_index')} %}
            {% include "generic/elements/filter.html" %}
        {% endwith %}
    {% endblock %} #}
{% endblock %}