{% extends "generic/pages/base.html" %}

{% block content %}
    {% block header %}
        {% with args={"title": "Administración de zonas inundables", "name": "Administración de zonas inundables", "subtitle": "Administración, adición y eliminación de las zonas inundables del sitio"} %}
            {% include "generic/elements/headers/header.html" %}
        {% endwith %}
    {% endblock %}

    {% block pre_list %}
        <div class="row">
            {% with args={"text": "+ Crear zona inundable", "url": url_for('fzone_new')} %}
                {% include "generic/elements/buttons/button1.html" %}
            {% endwith %}
            
            {% with args={"text": "Importar desde csv", "action_url": url_for("fzone_csvimport")} %}
                {% include "generic/elements/forms/upload_file.html" %}
            {% endwith %}

            {% with args={"text": "Filtrar", "data_bs_toggle": "modal", "data_bs_target": "#fzone-filter"} %}
                {% include "generic/elements/buttons/modal_button1.html" %}
            {% endwith %}

            {% if temp_interface.filt.has_filter() %}
                {% with args={"text": "Limpiar filtro", "url": url_for('fzone_index')} %}
                    {% include "generic/elements/buttons/button1.html" %}
                {% endwith %}
            {% endif %}
        </div>
    {% endblock %}

    {% block list %}
        {% with args={"items": temp_interface.page.items, "headers": ["Código de zona", "Nombre de zona", "Público", "Acciones"], "attr_names": ["code", "name", "state"]} %}
            {% include "flood_zone/elements/list/list.html" %}
        {% endwith %}

        {% with args={"page": temp_interface.page, "url": "fzone_index"} %}
            {% include "generic/elements/pagination_row.html" %}
        {% endwith %}
    {% endblock %}


    {% block filter %}
        {% with args={"form": temp_interface.filt.form, "id": "fzone-filter", "aria_labelledby": "fzone-filter-label", "url": url_for('fzone_index')} %}
            {% include "generic/elements/filter.html" %}
        {% endwith %}
    {% endblock %}
{% endblock %}