{% extends "generic/pages/base.html" %}

{% block content %}
    {{ super() }}

    {% block header %}
        {% if temp_interface.return_url %}
            {% with args={"title": temp_interface.title, "subtitle": temp_interface.subtitle, "return_url": temp_interface.return_url} %}
                {% include "generic/elements/headers/header_back.html" %}
            {% endwith %}
        {% else %}
            {% with args={"title": temp_interface.title, "subtitle": temp_interface.subtitle} %}
                {% include "generic/elements/headers/header.html" %}
            {% endwith %}
        {% endif %}
    {% endblock %}

    {% with args={"attributes": temp_interface.attributes} %}

        {% include "generic/elements/list/list_details.html" %}
    {% endwith %}

    <div class="row my-3 mb-5">
        {% if temp_interface.edit_url %}
        {% with args={"text": "Editar", "url": temp_interface.edit_url, "title": "Editar", "icon_name": "pencil"} %}
            {% include "generic/elements/buttons/button2.html" %}
        {% endwith %}
        {% endif %}

        {% if temp_interface.delete_url %}
        <a
        class="col-auto mx-2 btn btn-danger"
        href="{{ temp_interface.delete_url }}"
        type="button"
        onclick="return confirm('¿Esta seguro que quiere eliminar a este elemento?')">
        <object class="icon" fill="{{ private_theme()[2] }}" data="{{ url_for('static', filename='icons/trash.svg') }}" alt="delete"></object>
        Borrar
        </a>
        {% endif %}

        {% block extra_buttons %}{% endblock %}
    </div>
{% endblock %}
