<section class="modal fade" id="{{ args.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ args.aria_labelledby }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="col">Filtros</h4>
                <button type="button" class="col-auto btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                {% include "generic/elements/forms/form.html" %}
            </div>
        </div>
    </div>
</section>