<nav id="navbar" class="py-0 navbar position-fixed top-0 w-100 navbar-expand-lg navbar-light">
    <div class="container">
        <a id="page-icon" class="mx-1 px-2 bg-hover btn col-auto text-decoration-none navbar-brand" href="{{ url_for('home') }}">
            <object class="navbar-icon" fill="{{ private_theme()[2] }}" data="{{ url_for('static', filename='icons/water.svg') }}" alt="water"></object>
        </a>

        <a class="mx-1 px-2 py-auto border-0 bg-hover btn col-auto text-decoration-none navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menuNavbar" aria-controls="menuNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <object class="navbar-icon" fill="{{ private_theme()[2] }}" data="{{ url_for('static', filename='icons/menu.svg') }}" alt="water"></object>
        </a>

        <a id="nav-user-icon" class="mx-1 px-2 bg-hover btn col-auto text-decoration-none" data-bs-toggle="collapse" data-bs-target="#nav-drop-menu" aria-controls="nav-drop-menu" aria-expanded="false" aria-label="Toggle user options">
            <object class="navbar-icon" fill="{{ private_theme()[2] }}" data="{{ url_for('static', filename='icons/person.svg') }}" alt="person"></object>
        </a>

        <div class="collapse navbar-collapse" id="menuNavbar">
            <ul class="navbar-nav me-auto">
                {% for apartado in get_navigation_actions(session) %}
                    <li class="nav-item">
                        <a class="nav-link bg-hover btn py-auto" href="{{ apartado.url }}">{{ apartado.nombre }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div id="nav-drop-menu" class="position-fixed container card rounded-0">
          <a class="bg-hover btn row" href="{{ url_for('profile_index') }}">
            <p class="col my-1">Perfil</p>
          </a>

          <a class="btn btn-danger border-0 row" href="{{ url_for('auth_logout') }}">
            <p class="col my-1">Cerrar sesión</p>
          </a>
        </div>
    </div>
</nav>

<script src="{{ url_for('static', filename='navbar.js') }}"></script>
