<nav id="navbar" class="navbar position-fixed top-0 w-100 navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand mx-3  p-0 col-auto m-auto text-decoration-none" href="{{ url_for('home') }}"><ion-icon class="nav-icon nav-coloricon" name="water"></ion-icon></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuNavbar" aria-controls="menuNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="nav-user-icon" class="mx-3 p-0 col-auto m-auto text-decoration-none"><ion-icon class="nav-icon nav-coloricon" name="person"></ion-icon></div>
        
        <div class="collapse navbar-collapse" id="menuNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% for apartado in get_navigation_actions(session) %}
                    <li class="nav-item">
                        <a class="nav-link asd" href="{{ apartado.url }}">{{ apartado.nombre }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div id="nav-drop-menu" class="position-fixed container card shadow-sm">
          <a class="row text-decoration-none text-secondary" href="{{ url_for('profile_index') }}">
            <p class="col my-3">Perfil</p>
          </a>
      
          <a class="row text-decoration-none border-top text-secondary" href="{{ url_for('auth_logout') }}">
            <p class="col my-3">Cerrar sesión</p>
          </a>
        </div>
    </div>
</nav>

<script src="{{ url_for('static', filename='navbar.js') }}"></script>
