<div class="pagination row">
    {% if args.page.has_prev %}
        <div class="col mx-auto">
            <a href="{{ url_for(args.url, page=args.page.prev_num) }}">Anterior</a>
        </div>
    {% endif %}
    <div class="col mx-auto">
        {% if args.items %}
            <p>Viendo página {{args.page.page}} de  {{(-(-args.page.total // args.page.per_page))}}</p>
        {% else %}
            <p>La tabla está vacía</p>
        {% endif %}
    </div>
    {% if args.page.has_next %}
        <div class="col mx-auto">
            <a href="{{ url_for(args.url, page=args.page.next_num) }}">Siguiente</a>
        </div>
    {% endif %}
</div>