{% extends "generic/pages/not_auth_base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
    {{ super() }}

    <section class="container">
        <div class="row mt-5 mb-4 text-center">
        <h1 class="col">Iniciar sesión</h1>
        </div>

        <form class="row my-2" action="{{ url_for('auth_authenticate') }}" method="POST">
        <div class="col">
            <div class="row my-2"><div class="col-lg-3 col-0"></div><input class="col mx-2 p-2" name="email" placeholder="Correo" required/><div class="col-lg-3 col-0"></div></div>
            <div class="row my-2"><div class="col-lg-3 col-0"></div><input class="col mx-2 p-2" type="password" name="password" placeholder="Clave" required/><div class="col-lg-3 col-0"></div></div>
            <div class="row my-2"><div class="col-lg-3 col-0"></div><input class="col mx-2 p-2 bg-success text-light border-0" type="submit" value="Login"><div class="col-lg-3 col-0"></div></div>
        </div>
        </form>
    </section>

    <section class="container">
        <div class="row my-2">
            <div class="col-lg-4 col-0"></div>
            <div class="col card mx-2 p-2">
                <p style="margin-left: auto; margin-right: auto;"> --- ó --- </p>
                <a type="button" class="btn btn-primary" href={{ url_for("auth_authenticate_social") }}>Iniciar sesión con Google</a>
            </div>
            <div class="col-lg-4 col-0"></div>
        </div>
    </section>

{% endblock %}
