{% extends "generic/base.html" %}

{% block title %}Puntos de encuentro{% endblock %}

{% block navbar %}
    {% include "generic/navbar.html" %} 
{% endblock %}

{% block content %}
  {% with titulo_apartado="Puntos de encuentro", subtitulo_apartado="Listado y edición de puntos de encuentro" %}
    {% include "generic/generic_content.html" %}
  {% endwith %}
  
    <div class="row mx-3">
        <div class="col">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col">
                        <a class="btn btn-primary" href="{{ url_for('points_new')}}">+ Crear punto de encuentro</a>
                        </div>
                        <div class="col">
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#points-filter">Filtrar</button>
                        </div>
                    </div>
                </div>
                <div class="col-6"></div>
            </div>
            <div class="row">
                <table class="col table table-hover h-100">
                    <thead class="row">
                      <tr class="row">
                        <th class="col">Nombre</th>
                        <th class="col">Direccion</th>
                        <th class="col">Coordenadas</th>
                        <th class="col">Publico</th>
                        <th class="col">Telefono</th>
                        <th class="col">E-mail</th>
                        <td class="col">Acciones</td>
                      </tr>
                    </thead>
                    <tbody class="row">
                      {% for point in points.items %}
                        <tr class="row">
                          <td class="col">{{ point.name }}</td>
                          <td class="col">{{ point.direction }}</td>
                          <td class="col">{{ point.coordinates }}</td>
                          <td class="col">{{ point.state }}</td>
                          <td class="col">{{ point.telephone }}</td>
                          <td class="col">{{ point.email }}</td>
                          <td class="col">
                            <a href="{{ url_for('points_modify', point_id=point.id)}}"><ion-icon name="pencil-outline"></ion-icon></a>
                            <a onclick="return confirm('¿Esta seguro que quiere eliminar este elemento?')" href="{{ url_for('points_delete', point_id=point.id)}}" ><ion-icon name="trash-outline"></ion-icon></a>
                            <a href="{{ url_for('points_show', point_id=point.id)}}"><ion-icon name="eye-outline"></ion-icon></a>
                            </td>
                        </tr>
                      {% endfor %}
                    </tbody>
              
                </table>
                <div class="pagination row">
                    {% if points.has_prev %}
                        <div class="col mx-auto">
                            <a href="{{url_for('points_index', page=points.prev_num)}}">Anterior</a>
                        </div>
                    {% endif %}
                    <div class="col mx-auto">
                    {% if points.items %}
                            <p>Viendo página {{points.page}} de  {{(-(-points.total // points.per_page))}}</p>
                    {% else %}
                            <p>La tabla está vacía</p>
                    {% endif %}
                    </div>
                    {% if points.has_next %}
                        <div class="col mx-auto">
                            <a href="{{url_for('points_index', page=points.next_num)}}">Siguiente</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

    {% with fields=filters %}
        {% include "points/filter.html" %}
    {% endwith %}
    </div>

{% endblock %}
