{% extends "generic/base.html" %}

{% block title %}Puntos de encuentro{% endblock %}

{% block navbar %}
    {% include "generic/navbar.html" %} 
{% endblock %}

{% block navmenu %}
<!-- {% with apartados=apartados %} -->
{% include "generic/navmenu.html" %}
<!-- {% endwith %} -->
{% endblock %}

{% block content %}
  {% with titulo_apartado="Puntos de encuentro", subtitulo_apartado="Inspeccionar Punto "+point.name %}
    {% include "generic/generic_content.html" %}
  {% endwith %}
  
  <div class="row mx-3">
    <table class="col table table-hover h-100">
      <thead class="row">
        <tr class="row">
          <th class="col">Atributo</th>
          <th class="col">Valor</th>
        </tr>
      </thead>
      <tbody class="row">
        <tr class="row"></tr>
          <th class="col">Nombre</th>
          <td class="col">{{ point.name }}</td>
        </tr>
        <tr class="row"></tr>
          <th class="col">Direccion</th>
          <td class="col">{{ point.direction }}</td>
        </tr>
        <tr class="row"></tr>
          <th class="col">Coordenadas</th>
          <td class="col">{{ point.coordinates }}</td>
        </tr>
        <tr class="row"></tr>
          <th class="col">Publico</th>
          <td class="col">{{ point.state }}</td>
        </tr>
        <tr class="row"></tr>
          <th class="col">Telefono</th>
          <td class="col">{{ point.telephone }}</td>
        </tr>
        <tr class="row"></tr>
          <th class="col">E-mail</th>
          <td class="col">{{ point.email }}</td>
        </tr>
        <tr class="row"></tr>
          <td class="col"><a href="{{ url_for('points_modify', point_id=point.id)}}">Editar</a></td>
          <td class="col"><a href="{{ url_for('points_delete', point_id=point.id)}}">Eliminar</a></td>
        </tr>
        
      </tbody>

    </table>

  </div>
  <div class="row mx-3">
    <button onclick="deletePrompt()">Eliminar punto de encuentro</button>
    <script>
      var urldeseado = "{{ url_for('points_delete', point_id=point.id) }}"
      function deletePrompt() {
        if (confirm('¿Esta seguro que desea eliminar el punto de encuentro?')) {
          // ELIMINAR
          httpPOST(urldeseado)
        } else {
          // Do nothing!
          console.log('No paso nada.');
        }
      }

      function httpPOST(theUrl) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "POST", theUrl, false ); // false for synchronous request
        xmlHttp.send( null );
        return xmlHttp.responseText;
      }
    </script>
  </div>
  

{% endblock %}
