{% extends "generic/base.html" %}

{% block title %}{{param_wrapper.item_type}}{% endblock %}

{% block navbar %}
    {% include "generic/navbar.html" %} 
{% endblock %}

{% block content %}
    <section>
        {% with titulo_apartado="Formulario de " + param_wrapper.action + " de "+param_wrapper.item_type, subtitulo_apartado="Cargue los datos de "+param_wrapper.item_name, return_url=param_wrapper.return_url %}
            {% include "generic/generic_content_return.html" %}
        {% endwith %}
        <form class="row mx-1 mb-5" action="{{ param_wrapper.action_url }}" method="POST">
            {{ param_wrapper.form.hidden_tag() }}
            <div class="col-lg-6 col-sm">
                {% for field, errors in param_wrapper.form.errors.items() %}
                    <div class="row alert alert-error bg-danger text-white">
                    {{ param_wrapper.form[field].label(class="col") }}: {{ ', '.join(errors) }}
                    </div>
                {% endfor %}
            
                {% for field in param_wrapper.form %}
                {% if field.name not in ["submit", "csrf_token", "id"] %}
            
                    <div class="row pb-2">
                    {% if field.data is boolean %}
                        <div class="row border rounded m-0 p-2">
                        {{ field.label(class="col p-0") }}
                        {{ field(class="col p-2 card") }}
                        </div>
                        
                    {% else %}
                        <div class="row">
                        {{ field.label(class="col my-2 p-0") }}
                        </div>
            
                        {% if field.choices %}
                        <script src="{{ url_for('static', filename='checkbox.js') }}"></script>
                        <select class="row" name="{{ field.name }}" multiple>
                        {% for k, v in field.choices.items() %}
                            <option class="col-auto mr-2" value="{{ k }}" {% if k in field.default %} selected{% endif %}>{{ v }}</option>
                        {% endfor %}
                        </select>
                        {% else %}
            
                        <div class="row">
                            {{ field(class="col my-2 form-control") }}
                        </div>
                        {% endif %}
                    {% endif %}
                    </div>
            
                {% endif %}
                {% endfor %}
                    
                <div class="row my-2">
                    {{ param_wrapper.form.submit(class="col-auto m-0 btn btn-primary") }}
                </div>
            </div>
        </form>
    </section>
{% endblock %}
