{% extends "generic/base.html" %}

{% block title %}Usuarios{% endblock %}

{% block navbar %}
    {% include "generic/navbar.html" %} 
{% endblock %}

{% block content %}
  {% with titulo_apartado="Edición del usuario "+item.type, subtitulo_apartado="Edición de "+item.name %}
    {% include "generic/generic_content.html" %}
  {% endwith %}

  <form class="row mx-1" action="{{ url_for('user_modify', user_id=user.id) }}" method="POST">
    {{ form.hidden_tag() }}

    {% for field, errors in form.errors.items() %}
      <div class="alert alert-error bg-danger text-white">
        {{ form[field].label }}: {{ ', '.join(errors) }}
      </div>
    {% endfor %}

    {% for field in form %}
    {% if field.name not in ["submit", "csrf_token", "id"] %}
      {{ field.label(class="col-12 my-2 p-0") }}
      {% if field.choices %}
        <select class="select" name="{{ field.name }}" multiple>
        {% for k, v in field.choices.items() %}
          <option value="{{ k }}" {% if k in field.default %} selected{% endif %}>{{ v }}</option>
          {{ v }}
        {% endfor %}
        </select>
      {% else %}
        {{ field(class="col-6 m-2 p-2 card") }}
      {% endif %}
    {% endif %}
    {% endfor %}

    {{ form.submit(class="col-auto m-auto btn btn-primary") }}
  </form>

  <script src="{{ url_for('static', filename='checkbox.js') }}"></script>
{% endblock %}
