{% extends "generic/base.html" %}

{% block navbar %}
    {% include "generic/navbar.html" %} 
{% endblock %}

{% block content %}
    {% block generic_content %}{% endblock %}
  
  <form class="row mx-1" action={% block endpoint %}{% endblock %}} method="POST">
    {{ form.hidden_tag() }}

    {% for field in form %}
    {% if field.name not in ["submit", "csrf_token", "id"] %}
      {{ field.label(class="col-12 my-2 p-0") }}
      {{ field(class="col-6 m-2 p-2 card") }}
    {% endif %}
    {% endfor %}

    {{ form.submit(class="col-auto m-auto btn btn-primary") }}
  </form>
  

{% endblock %}
