{% extends "generic/base.html" %}

{% block title %}Usuarios{% endblock %}

{% block navbar %}
    {% include "generic/navbar.html" %} 
{% endblock %}

{% block navmenu %}
<!-- {% with apartados=apartados %} -->
{% include "generic/navmenu.html" %}
<!-- {% endwith %} -->
{% endblock %}

{% block content %}
  {% with titulo_apartado="Usuarios", subtitulo_apartado="Listado y edición de usuarios del sistema" %}
    {% include "generic/generic_content.html" %}
  {% endwith %}
  
  <div class="row px-3">
    <table class="col table table-hover h-100">
      <thead class="thead">
        <tr>
          <th>Email</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Contraseña</th>
          <th>Editar</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.email }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.password }}</td>
            <td><a href="">Editar {{user.first_name}}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% with fields=filters %}
    {% include "user/filter.html" %}
    {% endwith %}
  </div>
  

{% endblock %}
