{% extends "generic/base.html" %}
{% block import %}
    <!-- CSS propio -->
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block navbar %}
    {% include "generic/navbar.html" %} 
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row mt-5 mb-4">
      <h1 class="col">Perfil de usuario</h1>
    </div>

    <div class="row my-2">
      <p class="col">Edición del perfil de usuario</p>
    </div>
  </div>

{% endblock %}
