{% extends "generic/pages/base.html" %}

{% block content %}
    {% block header %}
        {% with args={"title": "Puntos de encuentro", "name": "Administración de puntos de encuentro", "subtitle": "Administración, adición y eliminación de los puntos de encuentro del sitio"} %}
            {% include "generic/elements/headers/header.html" %}
        {% endwith %}
    {% endblock %}

    {% block pre_list %}
        <div class="row">
            {% with args={"text": "+ Crear punto de encuentro", "url": url_for('points_new')} %}
                {% include "generic/elements/buttons/button1.html" %}
            {% endwith %}
    
            {% with args={"text": "Filtrar", "data_bs_toggle": "modal", "data_bs_target": "#points-filter"} %}
                {% include "generic/elements/buttons/modal_button1.html" %}
            {% endwith %}

            {% if temp_interface.filt.has_filter() %}
                {% with args={"text": "Limpiar filtro", "url": url_for('points_index')} %}
                    {% include "generic/elements/buttons/button1.html" %}
                {% endwith %}
            {% endif %}
        </div>
    {% endblock %}

    {% block list %}
        {% with args={"items": temp_interface.page.items, "headers": ["Nombre", "Dirección", "Coordenadas", "Público", "Teléfono", "Mail","Acciones"], "attr_names": ["name", "direction" , "coordinates", "state", "telephone", "email"]} %}
            {% include "points/elements/list/list.html" %}
        {% endwith %}

        {% with args={"page": temp_interface.page, "url": "points_index"} %}
            {% include "generic/elements/pagination_row.html" %}
        {% endwith %}
    {% endblock %}


    {% block filter %}
        {% with args={"form": temp_interface.filt.form, "id": "points-filter", "aria_labelledby": "points-filter-label", "url": url_for('points_index')} %}
            {% include "generic/elements/filter.html" %}
        {% endwith %}
    {% endblock %}
{% endblock %}