{% extends "generic/base.html" %}
{% block title %}Home{% endblock %}

{% block navbar %}
    {% include "generic/navbar.html" %} 
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row mt-5 mb-4">
      <h1 class="col">Inicio</h1>
    </div>

    <div class="row my-2">
      <p class="col">Página de inicio de la aplicación</p>
    </div>

    <div class="row my-2">
      {% if is_authenticated(session) %}
        <a class="col card mx-2 p-3 text-center" href="{{ url_for('user_index') }}" class="link">Usuarios</a>
        <a class="col card mx-2 p-3 text-center" href="{{ url_for('auth_logout') }}" class="link">Cerrar sesión</a>
      {% endif %}
    </div>
  </div>

{% endblock %}
